h1 {
    color:blueviolet
}
    
span.note {
    font-size:150%; 
    color:crimson
    }

    a:link {
        color: red;
      }
      
      a:visited {
        color: green;
      }
      
      a:hover {
        color: blue;
      }
      

#para1 {
    color:darkgreen;
    font-size:x-large;
    }

#para2 {
    color:darkolivegreen;
    font-size: medium;
    }

.tablewithnostyling {
    width:80%;
}    

#tablewithzebrastyle {
    width:80%;
    border: 2px solid black;
}

#tablewithzebrastyle tr:nth-child(odd) {
    background-color: #f2f2f2;}


#tablewithbackgroundpicture{
background-image: url(backgroundimage.jpg);
}

.container {
    position: relative;
    text-align: left;
    color: black;
  }
  
  
  .topleft {
    position: absolute;
    top: 20px;
    left: 16px;
  }
  
  .topright {
    position: absolute;
    top: 20px;
    right: 1300px;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
